@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
body {
  min-width: 320px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
header, main, footer {
  max-width: 100%;
  width: 100%;
}

.wrapper .main {
  flex: 1;
}
.header,
.footer {
  flex-shrink: 0;
}
.mw{
  max-width: 1110px;
  margin: auto;
}
